<!DOCTYPE html>
<html lang="en" ng-app="Game">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

</head>
<!--https://docs.angularjs.org/tutorial-->
<body ng-controller="GameController">
    <h1>{{title}}</h1>
    <button id="btn-make-room" type="button" class="btn btn-default" ng-click="goWatingRoom()">Open Socket</button>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/game-client.js"></script>
</body>
</html>