<!DOCTYPE html>
<html lang="en" ng-app="Game">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

</head>
<body ng-controller="GameController as gamectl">
    <h1>TEAM DODGE</h1>
    <button id="btn-make-room" type="button" class="btn btn-default">MAKE ROOM</button>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/game-client.js"></script>
</body>
</html>