html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media only screen and (orientation:portrait){
    body{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@media only screen and (orientation:landscape){
    body {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}


#game-controller{
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-flex;
    display: flex;
}

#game-controller > div{
    position: relative;
}

#lever-container{
    flex: 1;
    -webkit-flex: 1;
}

#blank-container{
    flex: 0.5;
    -webkit-flex: 0.5;
}

#btn-container{
    flex: 1;
    -webkit-flex: 1;
}

#lever-bg{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    background: #eeeeee;
    left:50%;
    top:50%;
    margin-left: -90px;
    margin-top: -90px;
}

#lever{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -50px;
    margin-top: -50px;
}